__pycache__/*
venv/*
docs/stories/*
.pytest_cache/*
.claude/node_modules/*
.claude/.credentials.json
.claude/projects/*
.claude/statsig/*
.claude/todos/*
.claude/package-lock.json
.claude/package.json
.npm/*
.bash_history
.claude.json
.DS_Store
.cache/*
.local/*
test_unit_results.log
.viminfo
*.log